html, body, iframe {
  height: 100%;
  width: 100%;
  margin: 0px;  /* kill off any margin so we control */
  border: none;
}
body {
  font-family:Verdana,Geneva,sans-serif;
}
.hide {
  display: none;
}
#debuggee {
  margin: 20px;
}
.debuggeeSpec {
  margin: 20px;
}
.splash {
  width: 100%;
  height: 100%;
  background-color: gray;
  padding: 3ex;
}